doctype html
html
    head
        meta(charset="utf-8")
        title FlatUI AngularJS Template
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        link(rel='stylesheet', href='/flat-ui/dist/css/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/flat-ui/dist/css/flat-ui.min.css')
        //HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file.
        //[if lt IE 9]
        script(src="/flat-ui/dist/js/vendor/html5shiv.js")
        script(src="/flat-ui/dist/js/vendor/respond.min.js")
        //[endif]
                           
    body(ng-app="flatuiApp")
        div.container(ng-controller="FlatUICtrl")
            p.lorem_s1_2x3
            div.row
                div.col-md-3
                     fui-checkbox(ng-model="modelCheckbox1" ng-disabled="false" id="Checkbox1") modelCheckbox1={{modelCheckbox1}}
                     button.btn.btn-wide.btn-default(ng-click="modelCheckbox1=!modelCheckbox1") toggle modelCheckbox1
                     hr

                     fui-checkbox(ng-model="modelCheckbox2" id="Checkbox2") modelCheckbox2={{modelCheckbox2}}
                     button.btn.btn-wide.btn-default(ng-click="modelCheckbox2=!modelCheckbox2" ng-init="modelCheckbox2 = true") toggle modelCheckbox2
                div.col-md-3
                    fui-switch(ng-model="modelSwitch1" ng-init="modelSwitch1 = true")
                    fui-switch(ng-model="modelSwitch1" data-on-color="success" data-on-text="Hi" data-off-text="By")
                    hr

                    fui-switch(ng-model="modelSwitch2" data-on-color="info")
                    button.btn.btn-wide.btn-default(ng-click="modelSwitch2=!modelSwitch2" style="margin-top: 5px;") toggle modelSwitch2
                    hr

                    fui-switch(ng-model="modelSwitch3" data-on-color="warning" data-off-color="danger" ng-init="modelSwitch3=true")
                    span.label.label-default modelSwitch3 = {{modelSwitch3}}
                    hr

                    fui-switch(ng-disabled="true" ng-model="modelSwitch4")
                    fui-switch(ng-disabled="true" ng-model="modelSwitch5" ng-init="modelSwitch5=true")
                                                
                div.col-md-3
                    fui-radio(ng-value="0" name="group1" id="r0" ng-model="modelRadioGroup1" ng-init="modelRadioGroup1=0") Radio 0
                    fui-radio(ng-value="1" name="group1" id="r1" ng-model="modelRadioGroup1") Radio 1
                    fui-radio(ng-value="2" name="group1" id="r2" ng-model="modelRadioGroup1") Radio 2
                    fui-radio(ng-value="3" name="group1" id="r3" ng-model="modelRadioGroup1") Radio 3
                    fui-radio(ng-value="4" name="group1" id="r4" ng-model="modelRadioGroup1" ng-disabled="true") Radio disabled

                    span.label.label-default modelRadioGroup1 = {{modelRadioGroup1}}
                    button.btn.btn-wide.btn-default(ng-click="modelRadioGroup1=2") set modelRadioGroup1=2
                                                            

        script(src="/angular/angular.min.js")
        script(src="/scripts/app.js")
        script(src="/scripts/controllers/flatui.ctrl.js")
        script(src="/directives/fui.js")
        script(src="/directives/fui-radio.js")
        script(src="/directives/fui-checkbox.js")
        script(src="/directives/fui-switch.js")
        script(src="/flat-ui/dist/js/vendor/jquery.min.js")
        script(src="/flat-ui/dist/js/vendor/jquery.min.js")
        script(src="/flat-ui/dist/js/flat-ui.min.js")
        script(src="/lorem/src/library/lorem.js")
        script (function($) { $('.container').ipsum();}(jQuery));
        script videojs.options.flash.swf = "/flat-ui/dist/js/vendors/video.-js.swf"
